<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>mbrenig.github.io</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img width="80px" height="80px" src="/images/mb.png"
        style="float:left;border:1px solid;border-color:LightGrey;margin-right:20px"/>
        <h1 style="margin-bottom:2px;">mbrenig.</h1>
        <p>
            Just hacks and experiments.<br/>
            <a href="https://www.github.com/mbrenig">github</a> | 
            <a href="https://www.twitter.com/mbrenig">twitter</a> |
            <a href="https://plus.google.com/108890439254280700273">Google+</a>
        </p>
       
       <p class="view">Projects</p>
       
       <p class="view">Posts</p>
      </header>
      <section>

        {{ content }}

      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
